#rabbit-container {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    overflow: hidden;
}

.rabbit {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('rabbit.png'); /* замените на URL вашего изображения кролика */
    background-size: cover;
}

